### Maven Directory ###
!.mvn/wrapper/maven-wrapper.jar

### Logs Directory ###
logs/
*.log

### Package Directory ###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### IDE or Text Editor Directory ###
*.suo
*.ntvs*
*.njsproj
*.sln
.settings
.project
.classpath
.studio
.idea
*.iml
*.log
.factorypath

### macOS Directory ### 
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### LogBack Directory ###
logback.out.xml

### BackEnd Directory ###
backend/src/main/resources/public/
backend/target
selenium-debug.log

### FrontEnd Directory ###
frontend/dist/
frontend/node/
frontend/node_modules/
frontend/npm-debug.log
frontend/target
frontend/test-output
frontend/tests/e2e/reports
frontend/tests/unit/coverage
frontend/yarn-error.log
frontend/yarn.lock

### Security Directory ###
security/target/

